# Task 1

---

## Web scraping and analysis

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called `BeautifulSoup` to collect the data from the web. Once you've collected your data and saved it into a local `.csv` file you should start with your analysis.

### Scraping data from Skytrax

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 20
page_size = 100

reviews = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    
    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews
Scraping page 11
   ---> 1100 total reviews
Scraping page 12
   ---> 1200 total reviews
Scraping page 13
   ---> 1300 total reviews
Scraping page 14
   ---> 1400 total reviews
Scraping page 15
   ---> 1500 total reviews
Scraping page 16
   ---> 1600 total reviews
Scraping page 17
   ---> 1700 total reviews
Scraping page 18
   ---> 1800 total reviews
Scraping page 19
   ---> 1900 total reviews
Scraping page 20
   ---> 2000 total reviews

In [8]:
df = pd.DataFrame()
df["reviews"] = reviews
df.head()

                                             reviews
0  ✅ Trip Verified |  In Nov 2022 I booked and pa...
1  Not Verified | BA is not treating its premium ...
2  ✅ Trip Verified |  24 hours before our departu...
3  ✅ Trip Verified |  We arrived at Heathrow at 0...
4  ✅ Trip Verified |  Original flight was cancell...

In [9]:
df.to_csv("C:/Users/Shivam Ranshur/ANACONDA JUPYTER PROGRAMMING/BA_reviews.csv")

Congratulations! Now you have your dataset for this task! The loops above collected 1000 reviews by iterating through the paginated pages on the website. However, if you want to collect more data, try increasing the number of pages!

 The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.

In [12]:
df.shape

(2000, 1)

In [15]:
df.head(20)

                                              reviews
0   ✅ Trip Verified |  In Nov 2022 I booked and pa...
1   Not Verified | BA is not treating its premium ...
2   ✅ Trip Verified |  24 hours before our departu...
3   ✅ Trip Verified |  We arrived at Heathrow at 0...
4   ✅ Trip Verified |  Original flight was cancell...
5   Not Verified |  Airport check in was functiona...
6   ✅ Trip Verified |  Flight fine. In-line with c...
7   ✅ Trip Verified |  Came from Glasgow to London...
8   ✅ Trip Verified |  My flight on on 12 May 2023...
9   Not Verified |  Cairo is a 5 hour flight and B...
10  ✅ Trip Verified |  After travelling London to ...
11  ✅ Trip Verified |  My luggage was mis-tagged i...
12  ✅ Trip Verified |  The airline lost my luggage...
13  ✅ Trip Verified |  We booked on the BA website...
14  ✅ Trip Verified |  First time flying with BA b...
15  Not Verified | You can buy sandwiches and cris...
16  ✅ Trip Verified |  This is a two-for-one revie...
17  ✅ Trip Verified | Absolutely horrible airline....
18  ✅ Trip Verified |  Having experienced delays a...
19  ✅ Trip Verified | Travelled to Heathrow to Kal...

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   reviews  2000 non-null   object
dtypes: object(1)
memory usage: 15.8+ KB

In [19]:
df.isna().sum()

reviews    0
dtype: int64

In [20]:
df1=df.copy()
df1.drop_duplicates(keep="first",inplace=True)

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 1999
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   reviews  2000 non-null   object
dtypes: object(1)
memory usage: 31.2+ KB

In [22]:
df1.describe()

                                                  reviews
count                                                2000
unique                                               2000
top     ✅ Trip Verified |  In Nov 2022 I booked and pa...
freq                                                    1

In [23]:
# relatable lib
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
from sklearn.manifold import TSNE
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import StandardScaler

from keras.layers import LSTM, GRU,SimpleRNN
from keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Activation, Dense, Dropout, Embedding, Flatten, Conv1D, MaxPooling1D, LSTM
from keras import utils
from keras.callbacks import ReduceLROnPlateau, EarlyStopping

import nltk
from nltk.corpus import stopwords
from  nltk.stem import SnowballStemmer
from nltk.tokenize import word_tokenize
from nltk.probability import FreqDist
from nltk.tokenize import word_tokenize

from gensim.models import Word2Vec
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
from wordcloud import WordCloud,STOPWORDS
import re
import gensim
import tensorflow as tf

# lowering all data

In [24]:
df1["reviews"]=df1["reviews"].str.lower()

In [25]:
df1

                                                reviews
0     ✅ trip verified |  in nov 2022 i booked and pa...
1     not verified | ba is not treating its premium ...
2     ✅ trip verified |  24 hours before our departu...
3     ✅ trip verified |  we arrived at heathrow at 0...
4     ✅ trip verified |  original flight was cancell...
...                                                 ...
1995  one way, london heathrow to amsterdam with bri...
1996  ✅ verified review |  \r\nflew from london heat...
1997  ✅ verified review |  london heathrow to budape...
1998  ✅ verified review |  i am a regular traveller ...
1999  ✅ verified review |  gatwick to bilbao. britis...

[2000 rows x 1 columns]

In [28]:
# removing unwanted words
wrd= ["✅ trip verified", "✅ verified review", "not verified"]

for i in wrd:
    df1["reviews"]= df1["reviews"].str.replace(i, "")

In [29]:
df1

                                                reviews
0      |  in nov 2022 i booked and paid for a return...
1      | ba is not treating its premium economy pass...
2      |  24 hours before our departure on ba059 to ...
3      |  we arrived at heathrow at 0600 to find our...
4      |  original flight was cancelled with no expl...
...                                                 ...
1995  one way, london heathrow to amsterdam with bri...
1996   |  \r\nflew from london heathrow to seattle. ...
1997   |  london heathrow to budapest. it seems brit...
1998   |  i am a regular traveller on many airlines ...
1999   |  gatwick to bilbao. british airways migrati...

[2000 rows x 1 columns]

In [30]:
# removing special symbol
df1.reviews= df1.reviews.apply(lambda x:re.sub("@[^\s]+","",str(x)))

In [31]:
df1

                                                reviews
0      |  in nov 2022 i booked and paid for a return...
1      | ba is not treating its premium economy pass...
2      |  24 hours before our departure on ba059 to ...
3      |  we arrived at heathrow at 0600 to find our...
4      |  original flight was cancelled with no expl...
...                                                 ...
1995  one way, london heathrow to amsterdam with bri...
1996   |  \r\nflew from london heathrow to seattle. ...
1997   |  london heathrow to budapest. it seems brit...
1998   |  i am a regular traveller on many airlines ...
1999   |  gatwick to bilbao. british airways migrati...

[2000 rows x 1 columns]

In [32]:
#removing special symbols
df1.reviews = df1.reviews.apply(lambda x:" ".join(re.findall(r"\w+", x)))

In [33]:
df1

                                                reviews
0     in nov 2022 i booked and paid for a return jou...
1     ba is not treating its premium economy passeng...
2     24 hours before our departure on ba059 to cape...
3     we arrived at heathrow at 0600 to find our fli...
4     original flight was cancelled with no explanat...
...                                                 ...
1995  one way london heathrow to amsterdam with brit...
1996  flew from london heathrow to seattle poor boar...
1997  london heathrow to budapest it seems british a...
1998  i am a regular traveller on many airlines and ...
1999  gatwick to bilbao british airways migrating to...

[2000 rows x 1 columns]

In [35]:
df1.head(20)

                                              reviews
0   in nov 2022 i booked and paid for a return jou...
1   ba is not treating its premium economy passeng...
2   24 hours before our departure on ba059 to cape...
3   we arrived at heathrow at 0600 to find our fli...
4   original flight was cancelled with no explanat...
5   airport check in was functionary with little w...
6   flight fine in line with competitors pleasant ...
7   came from glasgow to london and took connectin...
8   my flight on on 12 may 2023 got delayed an hou...
9   cairo is a 5 hour flight and ba considers it t...
10  after travelling london to madrid with british...
11  my luggage was mis tagged in dallas on my way ...
12  the airline lost my luggage and was absolutely...
13  we booked on the ba website round trip flights...
14  first time flying with ba business class never...
15  you can buy sandwiches and crisps but don t ex...
16  this is a two for one review covering economy ...
17  absolutely horrible airline communication is t...
18  having experienced delays and cancellations de...
19  travelled to heathrow to kalamata and return j...

In [37]:
df1.reviews=df1.reviews.str.replace(r"\b[a-zA-Z]\b", "",regex=True)

In [38]:
df1.head(10)

                                             reviews
0  in nov 2022  booked and paid for  return journ...
1  ba is not treating its premium economy passeng...
2  24 hours before our departure on ba059 to cape...
3  we arrived at heathrow at 0600 to find our fli...
4  original flight was cancelled with no explanat...
5  airport check in was functionary with little w...
6  flight fine in line with competitors pleasant ...
7  came from glasgow to london and took connectin...
8  my flight on on 12 may 2023 got delayed an hou...
9  cairo is  5 hour flight and ba considers it to...

In [44]:
import textblob



for index, row in df1.iterrows():
    review_text = row["reviews"]
    sentiment_score = textblob.TextBlob(review_text).sentiment.polarity
    df1.loc[index, "Sentiment Score"] = sentiment_score

df1.to_csv("british_airways_reviews_with_sentiment_scores.csv")

In [63]:
df1["Sentiment Score"].describe()

count    2000.000000
mean        0.068585
std         0.177218
min        -0.766667
25%        -0.037813
50%         0.060351
75%         0.170119
max         0.715000
Name: Sentiment Score, dtype: float64

In [68]:
df1[df1["Sentiment Score"]>0.0999]

                                                reviews  Sentiment Score
4     original flight was cancelled with no explanat...         0.180195
6     flight fine in line with competitors pleasant ...         0.287500
9     cairo is  5 hour flight and ba considers it to...         0.151102
16    this is  two for one review covering economy a...         0.296373
18    having experienced delays and cancellations de...         0.225000
...                                                 ...              ...
1984  london gatwick to new york jfk with british ai...         0.192220
1986  flew british airways from london heathrow to j...         0.328889
1989  abu dhabi to london british airways is usually...         0.197500
1994  on  flight leaving at 18 55 the advertised sna...         0.122500
1995  one way london heathrow to amsterdam with brit...         0.228750

[792 rows x 2 columns]

In [69]:
# using NLTK Vader WHICH is better than Textblob or spacy.
from nltk.sentiment import SentimentIntensityAnalyzer

In [72]:
sia= SentimentIntensityAnalyzer()

def senti (text):
    senti_score = sia.polarity_scores(text)
    compound_score = senti_score["compound"]
    if compound_score >= 0.09:
        return"1"
    elif compound_score<= -0.09:
        return "-1"
    else:
        return "0"

In [73]:
df1["Senti_nltk"]=df1["reviews"].apply(senti)
df1

,reviews,Sentiment Score,Senti_nltk
0,in nov 2022 booked and paid for return journ...,0.080073,-1
1,ba is not treating its premium economy passeng...,0.000000,1
2,24 hours before our departure on ba059 to cape...,-0.027495,-1
3,we arrived at heathrow at 0600 to find our fli...,-0.200000,-1
4,original flight was cancelled with no explanat...,0.180195,0
...,...,...,...
1995,one way london heathrow to amsterdam with brit...,0.228750,1
1996,flew from london heathrow to seattle poor boar...,-0.026816,-1
1997,london heathrow to budapest it seems british a...,-0.069375,-1
1998,am regular traveller on many airlines and o...,0.022917,1
1999,gatwick to bilbao british airways migrating to...,0.053704,-1

In [ ]:
#just to be sure finally using ever more powerful transformer HUGGINGFACE it has pretrained sentiment analysis models

In [75]:
from transformers import pipeline
HUG_FAC_Senti = pipeline("sentiment-analysis")

def sentiments(text):
    result = HUG_FAC_Senti(text)
    label= result[0]["Label"]
    return label

No model was supplied, defaulted to distilbert-base-uncased-finetuned-sst-2-english and revision af0f99b (https://huggingface.co/distilbert-base-uncased-finetuned-sst-2-english).
Using a pipeline without specifying a model name and revision in production is not recommended.

Downloading (…)lve/main/config.json:   0%|          | 0.00/629 [00:00<?, ?B/s]

C:\Users\Shivam Ranshur\AppData\Roaming\Python\Python39\site-packages\huggingface_hub\file_download.py:133: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\Shivam Ranshur\.cache\huggingface\hub. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to see activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

Downloading model.safetensors:   0%|          | 0.00/268M [00:00<?, ?B/s]

Downloading (…)okenizer_config.json:   0%|          | 0.00/48.0 [00:00<?, ?B/s]

Downloading (…)solve/main/vocab.txt:   0%|          | 0.00/232k [00:00<?, ?B/s]

Xformers is not installed correctly. If you want to use memory_efficient_attention to accelerate training use the following command to install Xformers
pip install xformers.

In [77]:
df1["HUGGING_senti"]=df1["reviews"].apply(HUG_FAC_Senti)
df1.head(10)

Token indices sequence length is longer than the specified maximum sequence length for this model (666 > 512). Running this sequence through the model will result in indexing errors

RuntimeError: The size of tensor a (666) must match the size of tensor b (512) at non-singleton dimension 1

In [ ]:
# lets remove stopwords
stopwordlist = ['a', 'about', 'above', 'after', 'again', 'ain', 'all', 'am', 'an',
             'and','any','are', 'as', 'at', 'be', 'because', 'been', 'before',
             'being', 'below', 'between','both', 'by', 'can', 'd', 'did', 'do',
             'does', 'doing', 'down', 'during', 'each','few', 'for', 'from',
             'further', 'had', 'has', 'have', 'having', 'he', 'her', 'here',
             'hers', 'herself', 'him', 'himself', 'his', 'how', 'i', 'if', 'in',
             'into','is', 'it', 'its', 'itself', 'just', 'll', 'm', 'ma',
             'me', 'more', 'most','my', 'myself', 'now', 'o', 'of', 'on', 'once',
             'only', 'or', 'other', 'our', 'ours','ourselves', 'out', 'own', 're',
             's', 'same', 'she', "shes", 'should', "shouldve",'so', 'some', 'such',
             't', 'than', 'that', "thatll", 'the', 'their', 'theirs', 'them',
             'themselves', 'then', 'there', 'these', 'they', 'this', 'those',
             'through', 'to', 'too','under', 'until', 'up', 've', 'very', 'was',
             'we', 'were', 'what', 'when', 'where','which','while', 'who', 'whom',
             'why', 'will', 'with', 'won', 'y', 'you', "youd","youll", "youre",
             "youve", 'your', 'yours', 'yourself', 'yourselves']

In [40]:
# check all stop words from NLTK corpus
stopword_list = " ,".join(stopwords.words("english"))
stopword_list

"i ,me ,my ,myself ,we ,our ,ours ,ourselves ,you ,you're ,you've ,you'll ,you'd ,your ,yours ,yourself ,yourselves ,he ,him ,his ,himself ,she ,she's ,her ,hers ,herself ,it ,it's ,its ,itself ,they ,them ,their ,theirs ,themselves ,what ,which ,who ,whom ,this ,that ,that'll ,these ,those ,am ,is ,are ,was ,were ,be ,been ,being ,have ,has ,had ,having ,do ,does ,did ,doing ,a ,an ,the ,and ,but ,if ,or ,because ,as ,until ,while ,of ,at ,by ,for ,with ,about ,against ,between ,into ,through ,during ,before ,after ,above ,below ,to ,from ,up ,down ,in ,out ,on ,off ,over ,under ,again ,further ,then ,once ,here ,there ,when ,where ,why ,how ,all ,any ,both ,each ,few ,more ,most ,other ,some ,such ,no ,nor ,not ,only ,own ,same ,so ,than ,too ,very ,s ,t ,can ,will ,just ,don ,don't ,should ,should've ,now ,d ,ll ,m ,o ,re ,ve ,y ,ain ,aren ,aren't ,couldn ,couldn't ,didn ,didn't ,doesn ,doesn't ,hadn ,hadn't ,hasn ,hasn't ,haven ,haven't ,isn ,isn't ,ma ,mightn ,mightn't ,mustn ,mustn't ,needn ,needn't ,shan ,shan't ,shouldn ,shouldn't ,wasn ,wasn't ,weren ,weren't ,won ,won't ,wouldn ,wouldn't"

In [ ]:
# now we have all stopwords from nltk

STOPWORDS = set(stopwords_list)